<!DOCTYPE html>
<html lang="{{ or site.Language.Locale site.Language.Lang }}" dir="{{ or site.Language.Direction `ltr` }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <header class="background-menu">
      <div class="center-content">
        {{ partial "header.html" . }}
      </div>
    </header>

    <main class="center-content">
      <div class="background-default">
        {{ block "main" . }}{{ end }}
      </div>
    </main>
    <footer>
      <div class="center-content">
        {{ partial "footer.html" . }}
      </div>
    </footer>

    {{ if .Params.mermaid }}
    <script type="module">
        import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
        mermaid.initialize({
            startOnLoad: true,
            theme: 'dark',
        });
    </script>
    {{ end }}

  </body>
</html>
