@import "main.css";

:root {
    --color-text: rgb(210, 210, 210);
    --color-text-menu: rgb(187, 85, 85);
    --color-link: rgb(225, 152, 152);
    --color-link-visited: rgb(200, 140, 140);
    --color-link-hover: rgb(235, 167, 167);
    --color-link-active: rgb(245, 182, 182);
    --color-bg: rgb(63, 29, 56);
    --color-bg-highlight: rgb(77, 60, 119);
    --color-bg-post: rgb(162, 103, 138);
    --color-fg-highlight: rgb(225, 152, 152);
    --color-menu: rgb(77, 60, 119);

    --color-tag-bg: rgb(162, 103, 138);
    --color-tag-text: white;

    --font-family: "Verdana", sans-serif;
    --font-family-fallback: 'Arial', sans-serif;
}
