:root {
    --color-text-primary: rgb(240, 240, 240);
    --color-text-secondary: rgb(180, 180, 180);
    --color-text-menu: rgb(187, 85, 85);

    --color-link: rgb(210, 120, 85);
    --color-link-visited: rgb(171, 89, 51);
    --color-link-menu-hover: rgba(171, 89, 51, 0.5);
    --color-link-hover: rgb(255, 174, 139);
    --color-link-active: rgb(220, 130, 90);

    --color-bg: #0d1117;
    --color-bg-highlight: rgb(25,37,45);
    --color-bg-post: rgb(50, 40, 50);
    --color-border-post: #777;
    --color-fg-highlight: rgb(50,74,90);
    --color-menu: black;

    --color-tag-bg: black;
    --color-tag-text: white;
    --color-text-tag-btn: var(--color-text-primary);

    --color-tag-btn-bg-hover: white;
    --color-tag-btn-text-hover: black;

    --font-family: "Verdana", sans-serif;
    --font-family-fallback: 'Arial', sans-serif;

    /* NEW SETTINGS */
    --color-text-primary: rgb(240, 240, 240);
    --color-text-secondary: rgb(180, 180, 180);
    --color-text-menu: rgb(187, 85, 85);

    /* Reds */
    --color-link: #BF616A;
    --color-link-visited: #BF616A;
    --color-link-menu-hover: #C5727A;
    --color-link-hover: #C5727A;
    --color-link-active: #B74E58;

    /* Blues
    --color-link: #81A1C1;
    --color-link-visited: #81A1C1;
    --color-link-menu-hover: #88C0D0;
    --color-link-hover: #88C0D0;
    --color-link-active: #5E81AC;*/

    /* Yellow
    --color-link: #EBCB8B;
    --color-link-visited: #EBCB8B;
    --color-link-menu-hover: #EFD49F;
    --color-link-hover: #EFD49F;
    --color-link-active: #E7C173;*/

    /* Greens
    --color-link: #A3BE8C;
    --color-link-visited: #A3BE8C;
    --color-link-menu-hover: #B1C89D;
    --color-link-hover: #B1C89D;
    --color-link-active: #97B67C; */

    /* Magentas
    --color-link: #B48EAD;
    --color-link-visited: #B48EAD;
    --color-link-menu-hover: #BE9DB8;
    --color-link-hover: #BE9DB8;
    --color-link-active: #A97EA1; */

    /* --color-bg: #191D24;
    --color-bg-highlight: #222630;*/
    --color-bg-post: #1E222A;
}

h1, h2, h3, h4 {
    color: var(--color-text-primary);
}

html, body {
    background-color: var(--color-bg);
    color: var(--color-text-secondary);
    font-family: var(--font-family);
}

.background-menu {
    width: 100%;
    background: var(--color-menu);
    margin-bottom: 1em;
}

.background-default {
    background: var(--color-bg);
    padding-left: 1em;
    padding-right: 1em;
}

main {
    flex:1;
    margin: 10px;
    color: var(--color-text-secondary);
    background: var(--color-bg);
}

footer {
    color: var(--color-text-secondary);
    padding-top: 2px;
    padding-bottom: 2px;
    width: 100%;
    text-align: center;
    background: var(--color-menu);
    margin-top: 1em;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: var(--color-link);
    text-decoration: none;
}

a:hover {
    color: var(--color-link-hover);
}

body {
    margin: 0;
    font-family: var(--font-family);
}

.header {
    overflow: hidden;
}

.menu-item {
    float: left;
    color: var(--color-link);
    fill: var(--color-link);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-bottom: solid 5px var(--color-menu);
}

.menu-item:hover {
    background-color: var(--color-bg);
    color: var(--color-link-hover);
    fill: var(--color-link-hover);
    border-bottom: solid 5px var(--color-link-menu-hover);
}

.menu-item.active {
    background-color: var(--color-bg);
    color: var(--color-link-active);
    border-bottom: solid 5px var(--color-link-visited);
}

.menu-item.ancestor {
    background-color: var(--color-bg);
    color: var(--color-link-active);
    border-bottom: solid 5px var(--color-link-menu-hover);
}

.header-right {
    float: right;
}

blockquote {
    font-size:larger;
    font-style: italic;
    padding-top: 22px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
    background: var(--color-bg-highlight);
    border-left: 10px solid var(--color-fg-highlight);
}

img {
    width: 100%;
}

.post-style {
    column-gap:10px;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    border: solid 1px var(--color-border-post);
    background: var(--color-bg-post);
}

.post_image {
    object-fit: contain;
    transition: opacity .35s , transform .35s;
    transform: scale3d(1.02, 1.02, 2.0);
}

.post_image:hover {
    transform: scale3d(1,1,1);
    opacity: 0.8;
}

.post_image_container {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    margin: 0;
}

.post-image-inline {
    float: right;
    width: 50%;
    margin-left: 1em;
    margin-bottom: 1em;
    object-fit: contain;
    border-radius: 5px;
}

.main-block {
    max-width: var(--content-width);
    margin: auto;
}

.center-content {
    width: 100%;
    max-width: var(--content-width);
    margin: auto;
}

.tag-btn {
    color: var(--color-text-tag-btn);
    background: var(--color-tag-bg);
    padding: 6px 8px;
    margin-top: 8px;
    margin-bottom: 6px;
    margin-right: 5px;
    border-radius: 10px;
    border: solid 1px;
    display: inline-block;
    text-decoration: none;
}

.tag-btn:active {
    color: var(--color-text-tag-btn);
}

.tag-btn:visited {
    color: var(--color-text-tag-btn);
}

.tag-btn:hover {
    color: var(--color-tag-btn-text-hover);
    background: var(--color-tag-btn-bg-hover);
}

table {
    width: 100%;
}

th, td {
    padding-inline: 10px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.toggle {
    display: none;
    float: left;
}

.toggle .menu-button-line {
    height: 3px;
    width: 25px;
    background: var(--color-link);
    margin: 5px 0;
}

@media screen and (max-width:800px) {
    .toggle {
        display: inline;
        background: none;
        border: 2px white;
        line-height: 25px;
    }

    .open a {
        display: block;
        width: 100%;
    }

    .closed a {
        display: none;
    }

    .menu-item:hover {
        border-bottom: none;
    }
}

.authorhead {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
}
